* {
  margin: 0;
  left: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: "Google Sans";
    src: url("https://fonts.gstatic.com/s/googlesans/v14/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2") format("woff2");
}

@font-face {
    font-family: "Google Sans Bold";
    src: url("https://fonts.gstatic.com/s/googlesans/v14/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2") format("woff2");
}

body {
  font-family: 'Roboto';
  font-size: 16px;
}

h2 {
  font-weight: normal;
  font-size: 1.31em;
}

h4 {
  font-weight: 500;
  font-size: 1.55em;
  margin-bottom: 30px;
  font-family: "Google Sans Bold";
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
  margin-right: 10px;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  height: 96px;
  color: #5f6368;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  position: fixed;
  z-index: 13;
  background-color: white;
}

.box {
  line-height: 20px;
  display: flex;
  padding: 15px;
  margin-left: 10px;
  width: 98%;
}

h2 a {
  color: #5f6368;
  font-family: "Google Sans";
}

.container a {
  font-family: "Google Sans";
}

.box nav ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  justify-content: space-between;
}

.box nav ul li {
  margin-right: 35px;
  font-weight: 500;
  font-size: .9em;
  cursor: pointer;
  font-family: "Google Sans";
}

.container a {
  color: #5f6368;
  font-weight: 500;
  font-size: .9em;
}


li.blue {
  color: blue;
  border-bottom: 2px solid blue;
  padding-bottom: 5px;
}

/* MAIN */

main {
  width: 65%;
  margin: auto;
  padding: 100px 0;
  padding-top: 200px;
}

p {
  margin-bottom: 50px;
  font-size: 15px;
  line-height: 25px;
}
